<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("StyleSheets", required: false)
</head>
<body>
    <nav>
        <a>GO</a>
        <a>Back</a>
    </nav>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
